.logosize {
  width: 150px;
}
.bg-grey {
  background-color: #ececec;
}
.bgheader {
  /* background-image: url(./media/switzerland-862870_1920.jpg); */
  background: linear-gradient(to top, transparent, #ececec),
    url(../media/bgheader.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  /* questo width mette lo scroll orizzontale - non so perchè */
  /* width: 100vw; */
  /* background: linear-gradient(transparent, gray); */
}
.letter-spacing {
  letter-spacing: 100px;
}
/* .titolo {
    background: linear-gradient(to top, transparent, #ececec) url(./media/mountains.png);
    background-image: url(./media/mountains.png);
    background-size: cover;
    background-position: bottom;
    align-items: center;
    width: 100vw;
    height: 50vh;  
} */
.titolosize {
  font-size: 7vw;
  color: darkred;
  font-family: "Nova Square", cursive;
}

.darkredline {
  border-bottom: 5px solid darkred;
  height: 50px;

  width: 100%;
}

.timelineborder {
  border-left: 5px solid darkred;
}

.pallina {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 2px solid darkred;
  border-radius: 50%;
}

.positionpallina {
  position: absolute;
  top: -3px;
  left: -2.5px;
  /* left: -2px; */
}

.pallinaicone {
  position: absolute;
  top: 105%;
  left: 50%;
}

/* CSS rules - fonts */
/* font-family: 'Nova Square', cursive; */
/* font-family: 'Rajdhani', sans-serif; */
* {
  font-family: "Rajdhani", sans-serif;
}
h2,
h3,
h6 {
  font-family: "Nova Square", cursive;
}
span {
  padding: 40px;
}
.darkred {
  color: darkred;
}
.bg-darkred {
  background-color: darkred;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.button-custom {
  background-color: darkred;
  color: #ececec;
  padding: 15px 50px;
  margin-bottom: 5rem;
  border: none;
}
.h-margin-null {
  margin: 0%;
}
.color-grey {
  color: #ececec;
}

.darkred {
  color: darkred;
}

.snowicon {
  color: darkred;
  font-size: xx-large;
}

.marginicon {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.imageclass {
  width: 15vw;
  height: 15vw;
  padding: 1%;
  border: 2px solid darkred;
}

.imageclassteam {
  width: 13vw;
  height: 13vw;
  padding: 1%;
  border: 2px solid darkred;
}

/* RANGE SLIDE */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  display: block;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: darkred; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 2px solid darkred;
  cursor: pointer;
}
.text-align-cit {
  text-align: center;
}
@media screen and (max-width: 879px) {
  span {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .our-benefits-desktop {
    display: none;
  }
}
.border_right {
  border-left: none;
  border-bottom: none;
  border-right: solid;
  border-top: none;
  color: darkred;
  height: 100px;
  background-color: blue;
}

/* .mainParagraph1 {
  position: absolute;
  top: 35px;
  left: -10px;
  color: darkred;
  font-size: 30px;
}

.mainParagraph2 {
  position: absolute;
  bottom: 35px;
  right: 60px;
  color: darkred;
  font-size: 30px;
  rotate: 180deg;
} */

.mainParagraph1::before {
  content: "“";
  /* font-size: 50px; */
  color: darkred;
}

.mainParagraph2::after {
  content: "„";
  /* font-size: 50px; */
  color: darkred;
}
